*

!config/
!config/**
!defaultconfigs/
!defaultconfigs/**
!_client_mods/
!_client_mods/**
!_common_mods/
!_common_mods/**
!_server_mods/
!_server_mods/**
!datapacks/
!datapacks/**
!server-resource-packs/
!server-resource-packs/**
!.gitignore
!CHANGELOG.md
!icon.png
!README.md
!server-icon.png