*

!config/
!config/**
!defaultconfigs/
!defaultconfigs/**
!datapacks/
!datapacks/**
!_mods_client/
!_mods_client/**
!_mods_common/
!_mods_common/**
!_mods_server/
!_mods_server/**
!modpack/
!modpack/**
!server-resource-packs/
!server-resource-packs/**
!.gitignore
!CHANGELOG.md
!icon.png
!README.md
!server-icon.png